{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
    <section>
        {{> title big=true data="Program"}}


        <div>

            {{> title big=false data="Excursion"}}
            <hr>
            {{#with excursion}}
            <h4>{{name}}</h4>
            <div>
                <p>{{location.city}}</p>
                <p>{{location.country}}</p>
                <p>{{date}}</p>
            </div>
            {{!-- {{#each program}} --}}
            <section>
                <h4>{{program.[0].name}}</h4>
                <p>{{program.[0].type}}</p>
                <p>{{program.[0].duration}}</p>

                {{#each program}}

                {{#with details}}
                {{#with museum}}
                <h6>{{name}}</h6>
                <ul>
                    <li>{{location.address}}</li>
                    <li>{{location.city}}</li>
                    <li>{{location.country}}</li>
                </ul>
                {{#each exhibits}}
                <div>
                    <p>{{name}}</p>
                    <p>{{#if artist}}{{artist}}{{/if}}</p>
                    <p>{{description}}</p>
                    <p>{{audio_guide}}</p>
                </div>
                {{/each}}


                {{/with}}

                <div>
                    <ul>
                        <li>{{guide.name}}</li>
                        <li>{{guide.language}}</li>
                        <li>{{guide.rating}}</li>
                    </ul>


                </div>
                {{/with}}
            </section>
            {{/each}}

            <section>
                <h4>{{program.[0].name}}</h4>
                <p>{{program.[0].type}}</p>
                <p>{{program.[0].duration}}</p>

                {{#each program}}

                {{#with details}}
                {{#with venue}}
                <h6>{{name}}</h6>
                <ul>
                    <li>{{location.address}}</li>
                    <li>{{location.city}}</li>
                    <li>{{location.country}}</li>
                </ul>
                {{/with}}

                {{#each performers}}
                <ul>
                    <li>{{name}}</li>
                    <li>{{type}}</li>
                </ul>
                {{/each}}

                {{/with}}

                {{/each}}


                {{!-- {{/each}} --}}


                {{/with}}
            </section>

    </section>
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}