<div class="card">
    <div class="card-body">
        <img class="card-img-top" src="{{img}}">

        <div>
            {{#if isHot}}<button class="btn btn-warning">HOT</button>{{/if}}
        </div>
        <div>
            {{#if isNew}}<button class="btn btn-primary">NEW</button>{{/if}}
        </div>
        <div>
            {{#if isFast}}<button class="btn btn-success">Швидка доставка</button>{{/if}}
        </div>
        <div>
            {{#if isFree}}<button class="btn btn-dark">Безкоштовна доставка</button>{{/if}}
        </div>
        <p>{{name}}</p>
        <p>{{review.amount}} {{review.text}}</p>
        <p>{{price}}</p>
        <p>{{delivery}}</p>
        {{#each buttons}}
        {{#if isPrimary}}<a href="{{link}}" class="btn btn-primary">{{text}}</a>{{/if}}
        {{#if isSecondary}}<a href="{{link}}" class="btn btn-secondary">{{text}}</a>{{/if}}
        {{/each}}
        {{#each characteristics}}
        <ul>
            <li>{{title}} : {{value}}</li>
        </ul>
        {{/each}}
    </div>
</div>